<div class="row py-5 px-2 px-md-4 px-lg-5">
    <div class="col-12 col-xl-9 px-md-0 pr-xl-4">
        <h1>Angular + Typescript</h1>
    
        <h2>Intro</h2>
        <p>
            Angular is a Typescript based framework for building UIs, and at the core, it is simply a component based UI library.
        </p>
        <p>
            Typescript is a superset of Javascript, adding static type definitions. Types provide a way to describe the shape of an object, providing better documentation, and allowing TypeScript to validate that your code is working correctly.
        </p>

        <h2>RxJS</h2>
        <p>
            To learn more about RxJS, you can visit the documentation 
            <a href="https://rxjs.dev/" target="_blank" rel="noopener" aria-label="RxJS documentation">here</a> 
            and Angular specific notes 
            <a href="https://angular.io/guide/rx-library" target="_blank" rel="noopener" aria-label="Angular specific notes">here</a>.
        </p>
        <p>
            Basically, RxJS is a library that makes it easier to write asynchronous code. It also makes state management easier to write cleaner, more managable code.
        </p>

        <h2>Async</h2>
        <p>
            To understand what asynchronous programming is and what it's used for, check out 
            <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous" target="_blank" rel="noopener" aria-label="asynchronous notes">this article</a> 
            by mozilla.
        </p>
        <p>
            But basically, JavaScript in its most basic form is synchronous, blocking, and single-threaded, where only one operation can be in progress at one time. 
            But if for example there is a task that takes a lot of time, it is better to not use the main thread and do the task asynchronously (on a different thread).
        </p>
        <p>
            In vanilla JavaScript, we'd typically see two main types of asynchronous code - old-style callbacks and newer promise code. However, in Angular, we can use 
            <a href="#">RxJS</a>.
        </p>
        <p>
            The following is a code snippet of the .ts file for a component that observes the 
            <a href="http://worldtimeapi.org/" target="_blank" rel="noopener" aria-label="world time api">World Time API</a> 
            and updates the time, and the actual compnent itself.
        </p>
        <div  class="mb-3">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel title="current-time.components.ts">
                    <ng-template ngbPanelContent>
                        <pre><code>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; CurrentTime, CurrentTimeService &#125; from './current-time.service'

@Component(&#123;
    selector: 'app-current-time',
    templateUrl: './current-time.component.html',
    providers: [ CurrentTimeService ],
    styleUrls: ['./current-time.component.scss']
&#125;)
export class CurrentTimeComponent implements OnInit &#123;
    
    error: any;
    currentTime: CurrentTime | undefined;

    constructor(private currentTimeService: CurrentTimeService
    ) &#123; &#125;

    ngOnInit(): void &#123;
    this.showTime()
    &#125;

    showTime() &#123;
    this.currentTimeService.getTime()
        .subscribe(
        data => &#123;
            this.currentTime = &#123; ...data &#125;
        &#125;,
        error => this.error = error
        );
    &#125;
&#125;
                        </code></pre>
                    </ng-template>
                </ngb-panel>
                <ngb-panel title="current-time.service.ts">
                    <ng-template ngbPanelContent>
                        <pre><code>
import &#123; Injectable &#125; from '@angular/core';
// http
import &#123; HttpClient &#125; from '@angular/common/http';
import &#123; HttpErrorResponse, HttpResponse &#125; from '@angular/common/http';
// rxjs
import &#123; Observable, throwError &#125; from 'rxjs';
import &#123; catchError, retry &#125; from 'rxjs/operators';

export interface CurrentTime &#123;
    datetime: string;
    timezone: string;
&#125;

@Injectable(&#123;
    providedIn: 'root'
&#125;)
export class CurrentTimeService &#123;

    private timeUrl = 'http://worldtimeapi.org/api/ip';

    constructor(private http: HttpClient) &#123; &#125;

    getTime() &#123;
    return this.http.get&lt;CurrentTime&gt;(this.timeUrl)
    &#125;

    private handleError (error: HttpErrorResponse)&#123;
    console.error();
    &#125;
&#125;
                        </code></pre>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
        
        
        <p>
            The <code>timezone</code> and <code>datetime</code>:
        </p>
        <app-current-time>
        </app-current-time>
        



        <h2>State management</h2>
        State management refers to the management of the state of one or more UI controls (text fields, buttons, etc.), where these controls may depend on the state of other UI controls.

        <p>NgRx store = a<b>Ng</b>ular + <b>Rx</b>JS</p>
        
    </div>
    
    <div class="col-12 col-xl-3 d-none d-xl-block">
        some links go here
    </div>
</div>
