<div class="row py-5 px-2 px-md-4 px-lg-5">
    <div class="col-12 col-xl-9 px-md-0 pr-xl-4">
        <h1>Angular + Typescript</h1>
    
        <h2>Intro</h2>
        <p>
            Angular is a Typescript based framework for building UIs, and at the core, it is simply a component based UI library.
        </p>
        <p>
            Typescript is a superset of Javascript, adding static type definitions. Types provide a way to describe the shape of an object, providing better documentation, and allowing TypeScript to validate that your code is working correctly.
        </p>

        <h2>RxJS</h2>
        <p>
            To learn more about RxJS, you can visit the documentation 
            <a href="https://rxjs.dev/">here</a>.
        </p>
        <p>
            Basically, RxJS is a library that makes it easier to write asynchronous code. It also makes state management easier to write cleaner, more managable code.
        </p>

        <h2>Async</h2>
        <p>
            To understand what asynchronous programming is and what it's used for, check out 
            <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Asynchronous">this article</a>
             by mozilla.
        </p>
        <p>
            But basically, JavaScript in its most basic form is synchronous, blocking, and single-threaded, where only one operation can be in progress at one time. 
            But if for example there is a task that takes a lot of time, it is better to not use the main thread and do the task asynchronously (on a different thread).
        </p>
        <p>
            In vanilla JavaScript, we'd typically see two main types of asynchronous code - old-style callbacks and newer promise code. However, in Angular, we can use 
            <a href="#">RxJS</a>.
        </p>

        


        <h2>State management</h2>
        State management refers to the management of the state of one or more UI controls (text fields, buttons, etc.), where these controls may depend on the state of other UI controls.

        <p>NgRx store = a<b>Ng</b>ular + <b>Rx</b>JS</p>
    </div>
    
    <div class="col-12 col-xl-3 d-none d-xl-block">
        some links go here
    </div>
</div>
