<div class="row py-5 px-2 px-md-4 px-lg-5">
    <div class="col-12 col-xl-9 px-md-0 pr-xl-4">
        <h1>Frontend Libraries</h1>
    
        <h2>Intro</h2>
        <p>
            A collection of useful other frontend libraries.
        </p>

        <h2>MapboxGL</h2>
        <p>
            To learn more about MapboxGL, you can visit 
            <a href="https://docs.mapbox.com/" target="_blank" rel="noopener" aria-label="mapbox documentation">the documentation here</a>.
        </p>

        

        <app-map-sample>
        </app-map-sample>

        <h2>ECharts</h2>
        <p>
            To learn more about ECharts, you can visit 
            <a href="https://echarts.apache.org/en/index.html" target="_blank" rel="noopener" aria-label="Echarts documentation">the documentation here</a>.
        </p>


    </div>
    
    <div class="col-12 col-xl-3 d-none d-xl-block">
        some links go here
    </div>
</div>
