
<!-- <app-board></app-board> -->
<!-- <app-square [value]="'X'"></app-square> -->

<!-- <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-5 fw-semibold">Collapsible</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
            Home
            </button>
            <div class="collapse" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Updates</a></li>
                    <li><a href="#" class="link-dark rounded">Reports</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Dashboard
            </button>
            <div class="collapse" id="dashboard-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Weekly</a></li>
                    <li><a href="#" class="link-dark rounded">Monthly</a></li>
                    <li><a href="#" class="link-dark rounded">Annually</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
            Orders
            </button>
            <div class="collapse show" id="orders-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New</a></li>
                    <li><a href="#" class="link-dark rounded">Processed</a></li>
                    <li><a href="#" class="link-dark rounded">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div> -->


<!-- sample header -->
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">How to SE</a>
  
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/docs/4.0/examples/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Docs</a>
        </li>
  
      </ul>
    </div>
  
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      
  
      <li class="nav-item">
        <a class="nav-link p-2" href="https://github.com/imVincentTan" target="_blank" rel="noopener" aria-label="GitHub">G</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2" href="https://www.linkedin.com/in/vcktan/" target="_blank" rel="noopener" aria-label="LinkedIn">L</a>
      </li>
    </ul>
  
    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="https://github.com/twbs/bootstrap/archive/v4.0.0.zip">Download</a>
  </header>
<!-- end header -->

<div class="container-fluid">
    <div class="row">
        
        <div class="col-12 col-md-3 col-xl-2">
            <aside class="bd-sidebar">
                <nav class="bd-links collapse show" id="bd-docs-nav">
                    <ul class="list-unstyled mb-0 py-3 pt-md-1">
                        <li class="mb-1"><button class="btn d-inline-flex align-items-center rounded collapsed" routerLink="/angular">Angular</button></li>
                        <li class="mb-1"><button class="btn d-inline-flex align-items-center rounded collapsed" routerLink="/styling">Styling</button></li>
                        <li class="mb-1"><button class="btn d-inline-flex align-items-center rounded collapsed" routerLink="/frontend-libraries">Frontend Libraries</button></li>
                        <li class="mb-1"><button class="btn d-inline-flex align-items-center rounded collapsed" routerLink="/core-dev-tools">Core Dev Tools</button></li>
                        <li class="mb-1"><button class="btn d-inline-flex align-items-center rounded collapsed" routerLink="/c-sharp-dot-net">C# and .NET</button></li>
                        <li class="mb-1"><button class="btn d-inline-flex align-items-center rounded collapsed" routerLink="/sql">SQL</button></li>
                        <li class="mb-1"><button class="btn d-inline-flex align-items-center rounded collapsed" routerLink="/tictactoe">Tic tac toe</button></li>
                    </ul>
                </nav>
            </aside>
        </div>

        <div class="col-12 col-md-9 col-xl-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



<div>on this page</div>